.auth-container {
  background-image: url(./assets//images/authbg.jpg);
  background-position: center center;
  background-size: cover;
}
.bg-overlay {
  background: linear-gradient(
    51.22deg,
    rgba(55, 140, 47, 0.63) -22.39%,
    rgba(0, 0, 0, 0.6237) 61.76%
  );
}
.header-bg {
  background-image: url("./assets/images/header.jpeg");
  background-position: center center;
  background-size: cover;
}

.sidebar-container {
  flex: 1;
  min-width: 0;
  position: sticky;
  bottom: 0;
  top: 0;
}

.sidebar-container .ps-sidebar-root {
  border: none;
}
.sidebar-container .ps-sidebar-container {
  background: rgba(31, 38, 62, 1);
  height: 100vh;
  border-top-right-radius: 70px;
}

.sidebar-container .ps-menu-button {
  color: #fff !important;
  transition: 0.3s all;
}
.sidebar-container .ps-menu-button:hover {
  background-color: rgba(0, 146, 77, 0.1) !important;
  border-left: 5px solid rgba(0, 146, 71, 1) !important;
}

.categories-container .dropdown-toggle::after,
.users-container .dropdown-toggle::after,
.recipes-container .dropdown-toggle::after {
  display: none;
}

.categories-container .custom-dropdown .dropdown-item,
.users-container .custom-dropdown .dropdown-item,
.recipes-container .custom-dropdown .dropdown-item {
  font-size: 14px;
  transition: background 0.2s;
  z-index: 1000;
}
.table-img {
  width: 50px;
}
.table tbody {
  vertical-align: middle;
}

.table .table-head th {
  background-color: rgba(226, 229, 235, 1) !important;
}
.table-container {
  background: #fff;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  overflow-x: auto;
}

.custom-table {
  margin-bottom: 0;
  border-collapse: separate;
  border-spacing: 0 12px;
}

.custom-table thead th {
  background-color: #e9edf2 !important;
  color: #1f263e;
  font-weight: 600;
  padding: 18px;
  border: none;
  font-size: 14px;
}

.custom-table thead th:first-child {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.custom-table thead th:last-child {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.custom-table tbody tr {
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  transition: 0.3s;
}

.custom-table tbody tr:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
}

.custom-table tbody td {
  padding: 18px;
  border: none;
  font-size: 14px;
  color: #555;
}

.custom-table tbody td:first-child {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.custom-table tbody td:last-child {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.custom-table tbody tr:nth-child(even) {
  background-color: #f9fbfc;
}
