.auth-container {
  background-image: url(./assets//images/authbg.jpg);
  background-position: center center;
  background-size: cover;
}
.bg-overlay {
  background: linear-gradient(
    51.22deg,
    rgba(55, 140, 47, 0.63) -22.39%,
    rgba(0, 0, 0, 0.6237) 61.76%
  );
}
